body{
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: justify;
	background-color: #fffaf9;
}

.title{
color: #fff;
background-color: #666;
width: 100%;
height: 75px;
padding-top: 25px;
text-align: center;
}

.droite{
	text-align: center;
	float: right;
	color: black;
 	padding-right: 150px;
	width: 30%;
	word-break: all;
}

.gauche{
	color: black;
	float: left;
	width: 60%;
	height: auto;
	padding-left: 50px;
	background-color: #ea942a;
	height: 150px;
}
